.container2 {
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .waves {
    left: 0;
    right: 0;
    height: 200px;
    bottom: 0;
    bottom: -135px;
    height: 527px;
    width: 100%;
    overflow: hidden;
  }
  .wave {
    left: -180px;
    bottom: 0;
    background:rgba(0,0,0, .3);
    width: 2402px;
    height: 427px;
    background: url(../assets/img/waves.png) center bottom no-repeat;
    animation: 5s wave ease-in-out infinite alternate;
  }
  .wave.a {
    background-position: 0 -854px;
  }
  .wave.b {
    background-position: 0 -427px;
    animation-delay: .6s;
  }
  .wave.c {
    background-position: 0 0;
    animation-delay: 1.2s;
  }
  /*.container {
    position: absolute;
  }*/
  @keyframes wave {
    0% {
      transform: translate(0 , 0);
    }
    50% {
      transform: translate(-80px, 30px);
    }
    100% {
      transform: translate(160px, -60px);
    }
  }

 